.container{
    background-color:bisque;
    width: 40%;
}
.btn{
    color: brown;
    box-sizing: border-box;
    font-display: 10px;
    text-shadow: 10px;
    text-decoration: solid;
}
.rr{
    text-decoration-line:underline;
}